
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-fonts {
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight:400px;
    font-style: normal;
  }

  /* Shared styles  */
  main{
    max-width: 1500px;
    margin: 0 auto;
    
  }
  main >section{
     margin-top: 100px; 
  }
  .display-flex{
    display: flex;
  }
  .bg-light{
    background-color: rgba(255, 144, 14, 0.10);
  }
.dark-1{
    color: #131313
}
.dark-2{
    color:#424242
}
.dark-3{
    color: #727272;
}
.btn-primary{
  font-size: 1.2rem;
  padding: 21px 25px;
  background-color: #FF900E;
  color: white;
  border-radius: 8px;
  border:none
}
  /* header style  */
 
   .navbar,.banner{
    max-width: 1440px;
    margin: 0 auto;

   }
  .brand-title{
    font-size: 3rem;
    font-weight: 700;
  }
  nav{
    justify-content: space-between;
    align-items: center;
  }
  .nav-item{
    list-style: none;
    margin-right: 30px;
    font-size: 1.5rem;
  }
  .nav-link{
    text-decoration: none;
    font-weight: 500;
  }

  /* .nav-links li a{
    text-decoration: none;
    
    font-weight: 500;

  } */
  /* Banner related styles */

  .banner-content{
    max-width: 861px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 50px;


  }
  .banner-title{
    font-size: 4rem;

  }
  .banner-description{
    font-size: 1rem;
    line-height:1.5rem;
  }
  .banner-img{
    width: 100%;
  }
  /* team section style  */
  .teams{
    align-items: center;
    gap: 130px;
    flex-direction: row;
    margin-top: 100px;
    /* margin-bottom: ; */
  }
  .team-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
  }
  .section-title{
    font-size: 4.5rem;
    font-weight: 400;
  }
 #quick-list{
  color: #424242;
 }
 .our-features{
  max-width: 550px;
 }
 .feature-description{
  font-size: 1.3rem;
 }


  /* Responsive task */
  @media screen and (max-width:576px) {
    .navbar,
    .nav-links,
    .teams
    {
      flex-direction: column;
    }
    /* #header{
      background-color: white;
    } */
    .team-img-container{
      grid-template-columns: 1fr;
      margin: 0 auto;
    }
  }


