
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-fonts {
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight:400px;
    font-style: normal;
  }

  /* Shared styles  */
  main{
    max-width: 1500px;
    margin: 0 auto;
    
  }
  main >section{
     margin-top: 100px; 
  }
  .display-flex{
    display: flex;
  }
  .bg-light{
    background-color: rgba(255, 144, 14, 0.10);
  }
.dark-1{
    color: #131313
}
.dark-2{
    color:#424242
}
.dark-3{
    color: #727272;
}
.btn-primary{
  font-size: 1.2rem;
  padding: 21px 25px;
  background-color: #FF900E;
  color: white;
  border-radius: 8px;
  border:none
}
  /* header style  */
 
   .navbar,.banner{
    max-width: 1440px;
    margin: 0 auto;

   }
  .brand-title{
    font-size: 3rem;
    font-weight: 700;
  }
  nav{
    justify-content: space-between;
    align-items: center;
  }
  .nav-item{
    list-style: none;
    margin-right: 30px;
    font-size: 1.5rem;
  }
  .nav-link{
    text-decoration: none;
    font-weight: 500;
  }

  /* .nav-links li a{
    text-decoration: none;
    
    font-weight: 500;

  } */
  /* Banner related styles */

  .banner-content{
    max-width: 861px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 50px;


  }
  .banner-title{
    font-size: 4rem;

  }
  .banner-description{
    font-size: 1rem;
    line-height:1.5rem;
  }
  .banner-img{
    width: 100%;
  }
  /* team section style  */
  .teams{
    align-items: center;
    gap: 130px;
    flex-direction: row;
    margin-top: 100px;
    /* margin-bottom: ; */
  }
  .team-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
  }
  .section-title{
    font-size: 4.5rem;
    font-weight: 500;
  }
 #quick-list{
  color: #424242;
 }
 .our-features{
  max-width: 550px;
 }
 .section-description{
  font-size: 1.3rem;
 }
 .fact-card-container{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 100px;
 }
 .fact-card{
  border: 1px solid #FF900E;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 241px;
  width: 241px;
  border-radius: 8px;
  text-align: center;
 }
 .fact-number{
  font-size: 2.8rem;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 10px;
 }
.fact-name{
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 10px;
}
 /* feature related style  */
 .features{
  gap: 140px;
 }
 .features-card{
  padding: 20px 30px;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  margin-bottom: 20px;
 }
 .feature-title{
  font-size: 20px;
  font-weight: 600;
 }
 .feature-img{
  width: 100%;
 }
 #experience-badge{
  padding: 45px 42px;
  font-size: 1.5rem;
  font-weight: 500;
  margin-left: -100px;
  margin-top: -100px;
 }
 #experience-year{
  font-size: 4rem;
  font-weight: 700;
 }
 /* style for some fact section  */
 .facts-headlines{
  max-width: 540px;

 }
 /* sponsor content  */
 .sponsor-content{
  text-align: center;
  width: 680px;
  margin: 0 auto;
 }
 .sponsor-company{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  filter: grayscale(100%);
  margin-top: 50px;
  justify-items: center;
  align-items: center;
 }
 /* footer  */
 .footer-text{
  max-width: 1440px;
  height: 100px;
  margin: 100px auto;
  display: flex;
  justify-items: center;
  justify-content: center;
  align-items: center;
 }


  /* Responsive task */
  @media screen and (max-width:576px) {
    .navbar,
    .nav-links,
    .teams
    {
      flex-direction: column;
    }
    /* #header{
      background-color: white;
    } */
    .team-img-container{
      grid-template-columns: 1fr;
      margin: 0 auto;
    }
    .fact-card-container,.sponsor-company{
      grid-template-columns: 1fr;
      justify-items: center;
    }
    
    .sponsor-content{
      max-width: 100%;
    }
    .sponsor-company{
      gap: 100px;
    }
  }

  /* responsive for tablet */
  @media screen and (min-width:576px) and (max-width:992px) {
    .navbar,
    .nav-links,
    .teams
    {
      flex-direction: column;
    }
    .fact-card-container,.sponsor-company{
      grid-template-columns: repeat(2,2fr);
      justify-items: center;
    }
    .sponsor-company{
      gap: 100px;
    }
    .facts-headlines{
      text-align: center;
      margin: 0 auto;
    }
  }


